#box{
      width: 700px;
  height: 600px;
  background-color: rgb(24, 40, 51);
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  border: 2px solid rgb(247, 253, 255);
  box-shadow: 24px 24px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#student, #prof{
    width: 250px;
    height: 90px;
    border-radius: 5px;
    border: none;
    background-color: rgb(242, 245, 242);
    font-size: 23px;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

#student:hover{
    background-color: rgb(0, 229, 255);
    transition: all 0.3s ease-in-out;
}

#prof:hover{
    background-color: rgb(20, 99, 15);
    color: white;
    transition: all 0.3s ease-in-out;
}

#Landingholder{
    width: 400px;
    height: 200px;
    margin: 10%;
}

#prof{

    margin-top: 10%;
}

@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

*{

    animation: popup 1s ease-in 1 ;
}

#picHolder{
    width: 100%;
    height: 130px;
}

#prmsuLogo{
    width: 120px;
    height: 120px;
    margin: 10px;
    float: left;
}

#ccitLogo{
    width: 120px;
    height: 120px;
    margin: 10px;
    float: right;
}