#box{
      width: 700px;
  height: 600px;
  background-color: rgb(24, 40, 51);
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  border: 2px solid rgb(247, 253, 255);
  box-shadow: 24px 24px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#student, #prof, #admin{
    width: 250px;
    height: 90px;
    border-radius: 5px;
    border: none;
    background-color: rgb(242, 245, 242);
    font-size: 23px;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
}

#student:hover{
    background: linear-gradient(to top left, rgb(61, 213, 247), rgb(6, 5, 88));
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 2px rgb(156, 224, 245);
}

#prof:hover{
    background: linear-gradient(to top left, rgb(46, 235, 49), rgb(5, 96, 9));
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 2px rgb(159, 236, 183);
}

#admin:hover{

    background: linear-gradient(to top left, rgb(255, 0, 0), rgb(62, 7, 7));
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 2px rgb(55, 42, 42);
}

#Landingholder{
    width: 400px;
    height: 200px;
    margin: 10%;
}

@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

*{

    animation: popup 1s ease-in 1 ;
}

#picHolder{
    width: 100%;
    height: 130px;
}

#prmsuLogo{
    width: 120px;
    height: 120px;
    margin: 10px;
    float: left;
}

#ccitLogo{
    width: 120px;
    height: 120px;
    margin: 10px;
    float: right;
}