#form{
  width: 700px;
  height: 600px;
  background-color: rgb(24, 40, 51);
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  border: 2px solid rgb(247, 253, 255);
  box-shadow: 24px 24px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1, h2{
    color: rgb(255, 255, 255);
}

input{
    width: 400px;
    height: 50px;
    border-radius: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    background-color: orange;
    color: black;
}

input::placeholder{
    color: black;
}

label{
    font-size: 20px;
    color: white;
}

#holder{
    margin-top: 100px;
}

#Login{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(242, 245, 242);
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

#Login:hover{
    background-color: rgb(0, 229, 255);
    transition: all 0.3s ease-in-out;
}

@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

*{

    animation: popup 1s ease-in 1 ;
}